{% extends "shopify/base.html" %}
{% block content %}
    <h1>About Us</h1>
    <p>
        Shopify is a web based project which helps people to find and buy all types of footwear available on the internet. 
        It is useful in the way that it makes easier to purchase footwear online. 
        Shopify is a highly interactive e-commerce solution providing users with an opportunity to buy wide range of footwear. 
        Shopify is aimed to create an online footwear store from where people can buy footwear according to their choices, brands, styles and budget. 
        This online footwear store will have the following features:<br>
             It will have proper product catalogs.<br>
             It will have a shopping cart which will be made using Django sessions.<br>
             It will manage customer orders.<br>
             It will have an integrated payment gateway.<br>
             PDF invoices will be generated dynamically.<br>
             It will also be made available with a coupon system to apply discounts.<br>
             It will also have a product recommendation engine integrated with it.<br>
        There are basically 3 modules in this website. The first module is includes the customer, second module includes the seller and third module includes the admin.
        The customer can check out all the products available on the site without registration, but to make any purchase the customer needs to get registered first. 
        It allows all type of payment methods. The Admin has the access of admin page on the website and is responsible for a smooth and error-free user experience. 
        The Admin can make alterations in the website in whatever way he wants. He has the access to modify any information regarding the products.
    </p>
{% endblock content %}

